.site-logo {
  max-height: 60px;
}

.site-nav-logo {
  padding: 0px;
}

.site-nav-logo img {
  height: 34px;
}

.floating-header-share a {
  cursor: pointer;
}

.post-full-content pre {
  overflow-x: auto;
  /* margin: 1.5em 0 3em; */
  padding: 20px;
  max-width: 100%;
  /* border: color(var(--darkgrey) l(-10%)) 1px solid; */
  /* color: var(--whitegrey); */
  font-size: 1.4rem;
  line-height: 1.5em;
  /* background: color(var(--darkgrey) l(-3%)); */
  border-radius: 5px;
}

.post-full-content pre code {
  padding: 0;
  font-size: inherit;
  line-height: inherit;
  /* background: transparent; */
} 

.post-full-content a {
  box-shadow: none;
}

.post-full-content pre {
  padding: 1px;
  overflow-x: visible;
  margin-bottom: 2em;
}